body{
    font-family:'Times New Roman', Times, serif;
}

.gray-border{
    border: 1px solid #736d6d;
    border-bottom: 0;
    border-right: 0;
    margin-top: 50px;
}
ul{
    margin:0;
    padding:0;
    background-color:#f1f1f1;
}
ul li{
    text-align: center;
    border-right:1px solid #736d6d;
    border-bottom: 1px solid #736d6d;

    
}
ul li a{
    color:#000;
    text-decoration:none;
    float: left;
    width:100%;
    font-size:22px;
    height: 50px !important;
    padding-top: 10px;
}
.output {
    text-align:center;
    height:120px;
    padding:10px;
    background:rgba(0, 0, 0, 0.27);
    overflow:hidden;
    text-align:right;
    border-right:1px solid #736d6d;
}
.black-bg{
    color: #fff;
    font-size: 30px;
    padding: 0 20px 0;
    bottom: 0;
    right: 0;
    position: absolute;
}
.orange{
    background:#ea9a08;
    color:#fff !important;
}