
<div class="container">
    <div class="row text-align-center">
        <div class="col-4 gray-border">
          <div class="row">
            <div class="output col-sm-12">
              <div class="row black-bg">
                 {{output}}
              </div>
            </div>
            <div class="col-sm-12 button-area">
               <div class="row">
                  <ul class="list-inline float-left col-12 no-gutters">
                    <li class="col-3 float-left no-gutters"> <a href="javascript:void(0);" (click)="clear()">c</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);">+/-</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);"  (click) ="mod()">%</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" class="orange" (click) ="devide()">/</a></li>
                  </ul>
               </div>
               <!-- number 7, 8 9 X-->
               <div class="row">
                  <ul class="list-inline float-left col-12 no-gutters">
                    <li class="col-3 float-left no-gutters"> <a href="javascript:void(0);" (click)="setValue(7)">7</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" (click)="setValue(8)">8</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" (click)="setValue(9)">9</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" class="orange" (click)="multiply()">X</a></li>
                  </ul>
               </div>
               <!-- number 5, 5 6 - -->
               <div class="row">
                  <ul class="list-inline float-left col-12 no-gutters">
                    <li class="col-3 float-left no-gutters"> <a href="javascript:void(0);" (click)="setValue(4)">4</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" (click)="setValue(5)">5</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);"  (click)="setValue(6)">6</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" class="orange" (click)="substract()">-</a></li>
                  </ul>
               </div>
               <!-- number 1, 2, 3,+ -->
               <div class="row">
                  <ul class="list-inline float-left col-12 no-gutters">
                    <li class="col-3 float-left no-gutters"> <a href="javascript:void(0);" (click)="setValue(1)">1</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" (click)="setValue(2)">2</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" (click)="setValue(3)">3</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);"  class="orange" (click)="add()">+</a></li>
                  </ul>
               </div>
               <!-- number 0, . = -->
               <div class="row">
                  <ul class="list-inline float-left col-12 no-gutters">
                    <li class="col-6 float-left no-gutters"> <a href="javascript:void(0);" (click)="setValue(0)">0</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" ((click)="setDecimal()">.</a></li>
                    <li class="col-3 float-left no-gutters"><a href="javascript:void(0);" class="orange" (click)="calculate()">=</a></li>
                  </ul>
               </div>
            </div>
          </div>
        </div>
    </div>
  </div>
  